/* src/styles/Reviews.css */

.reviews {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.reviews h2, .reviews h3 {
  color: #333;
  text-align: center;
}

.review {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.review h4 {
  margin: 0;
  font-size: 1.1em;
  color: #007bff;
}

.review p {
  margin: 5px 0;
}

.review p.rating {
  font-weight: bold;
}

.add-review {
  margin-top: 20px;
  text-align: center;
}

.add-review input,
.add-review textarea,
.add-review button {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-review button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.add-review button:hover {
  background-color: #0056b3;
}
<<<<<<< HEAD
/* src/styles/Offers.css */

.notification {
  background-color: #d4edda;
  color: #155724; /* Zelena boja teksta */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c3e6cb;
  text-align: center;
  margin: 10px 0;
}
=======
>>>>>>> d9a34be3c399990218a7d1d456704df98535c8c3
